@font-face {
  font-family: 'Agrandir';
  src: url('../fonts/Agrandir-Regular.otf');
}

@font-face {
  font-family: 'Agrandir Bold';
  src: url('../fonts/Agrandir-TextBold.otf');
}

body {
  margin: 0;
  margin-left: 0;
  margin-right: 0;
  background-color: #D5ADA5;
  font-family: -apple-system, BlinkMacSystemFont,
      "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
      "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.homepage-bgimage {
  background: url("../img/home-bg.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h2 , h3 {
  font-family: "Cormorant Garamond";
  font-size: 4rem;
  color: #c85103;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: bolder;
}

h3 {
  font-size: 1rem;
  font-family: "Agrandir"
}

.container {
    max-width: none;
}

.navbar, .nav-link, .navbar-brand { 
  font-family: "Cormorant Garamond";
  font-size: 1.5rem; 
  /* color: white; */
}

.navbar-brand {
  font-family: "Parisienne";
}
.pmt {
  margin-top: 50px;
  padding-bottom: 660px;
  text-align: center;
}

.Schedule {
  font-family: "Nunito", sans-serif;
  text-align: center;
}

.marginHeader {
  margin-top: 50px;
}

